<div class="container">
  <ul class="nav justify-content-center nav-pills menu-animation">
    <li class="nav-item">
      <a class="nav-link btn-outline-dark" routerLinkActive="active" routerLink='/mojs'>Mo.js</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-outline-dark" routerLinkActive="active" routerLink="/typedjs">Typed.js</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-outline-dark disabled" routerLinkActive="active">ScrollReveal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-outline-dark disabled" routerLinkActive="active">Vivus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-outline-dark disabled" routerLinkActive="active">Lottie</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
