/* You can add global styles to this file, and also import other style files */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: rgba(gray, .6);
}
